numpy
pandas
datasets
astropy
dl
h5py
aiohttp
kcorrect
matplotlib
tqdm
jupyter
kaggle
seaborn
scikit-learn
astro-datalab
lightning[extra]
torch==2.4.0+cu124
#dinov3 @ git+https://github.com/facebookresearch/dinov3.git
dinov2 @ git+https://github.com/facebookresearch/dinov2.git
torchmetrics
torchvision
scikit-image
tables
tensorboard
pyro-ppl
omegaconf
hydra-core
pyyaml
xgboost